# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea/modules.xml
.idea/misc.xml
.idea/OhjEdPiirteet.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-e8d5357b0ad61d957f85.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-32a8332d64e348d9eff4.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-db794b7b1a1a6395567e.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-02-12T09-02-14-0199.json
cmake-build-debug/.cmake/api/v1/reply/target-OhjEdPiirteet-Debug-03b8a29308a2bf477f77.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1555a5ce31899eddd569.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/reply/index-2024-02-12T09-25-20-0158.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c73da5bb6b2279a250ea.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-74145e596ea3ff1d71ce.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-9dacdc15853d791284e5.json
.idea/.name
